<!-- <div> -->
<app-sidebar [sections]="sections"></app-sidebar>

<div class="test-cursor">
  <div class="hero-section">
    <div class="hero-content">
      <h1>¡Hola, soy Sergi López!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iste
        quidem illo beatae ipsam, inventore eaque est quas ut, natus dolorum
        nam. Modi in rerum assumenda delectus harum porro nam!
      </p>
    </div>
  </div>
</div>

<div class="two-column-section">
  <div class="column" style="background-color: beige">
    <span>Contenido del primer div</span>
    <!-- <img src="profile-photo-background.png" alt="Foto de Perfil" /> -->
  </div>
  <div class="column">Contenido del segundo div</div>
</div>

<div style="padding: 12px 12px 12px 12px">
  <!-- <span>Tarjetas projects</span
  ><i style="font-size: 48px" class="fa-solid fa-circle-half-stroke"></i> -->
  <app-card-carousel
    [cards]="[
      { image: 'header-background.jfif', text: 'Card 1' },
      { image: 'header-background.jfif', text: 'Card 2' },
      { image: 'header-background.jfif', text: 'Card 3' },
      { image: 'profile-photo.jpg', text: 'Card 4' },
      { image: 'header-background.jfif', text: 'Card 5' },
      { image: 'header-background.jfif', text: 'Card 6' },
      { image: 'header-background.jfif', text: 'Card 7' },
      { image: 'header-background.jfif', text: 'Card 8' },
      { image: 'header-background.jfif', text: 'Card 9' },
      { image: 'profile-photo.jpg', text: 'Card 10' }
    ]"
  ></app-card-carousel>
</div>

<!-- </div> -->
